[core]
        autocrlf = false
[user]
        email = <UPDATE>
        name = Sylvain COULOMBEL

[grep]
  linenumber = true
# http://pioupioum.fr/developpement/git-alias-productivite.html
[alias]
    st = status
    df = diff
    co = checkout
    ci = commit
    br = branch
    amend = commit --amend --no-edit # <=> alias gitamend='git ci --amend --no-edit'
    diffname = diff --name-only
    oneline = log --pretty=oneline --abbrev-commit --graph
    d = difftool
    lg = log -11 --graph --abbrev-commit --decorate=short --format=format:'%C(blue)%h%C(reset) - %C(cyan)%ai%C(reset) %C(yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(bold yellow)- %an%C(reset)'
